
  <!-- Navigation Bar -->
  <div class="navbar">
    <div class="logo"><strong>NepBlogs</strong></div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/addblogs">AddBlogs</a>
      <a href="#">Services</a>
      <a href="/register">Register</a>
    </div>
  </div>
