
  <!-- Navigation Bar -->
  <div class="navbar">
    <div class="logo"><strong>NepBlogs</strong></div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/addblogs">AddBlogs</a>
      <% if(currentUser){ %>
      <a href="/logout">Logout</a>
      
      <% } else{ %>

      <a href="/login">Login</a>
      <% } %>
    </div>
  </div>
