<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Now</title>
    <link rel="stylesheet" href="/register.css">
    <link rel="stylesheet" href="flash.css">
</head>

<body>
    <%- include('nav.ejs') %>
<div class="form-box">
    <div class="form-container">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>

            <% if(error){ %>
            <div class="flash flash-error">
                <%-error%>
            </div>
            <% } %>

            <button type="submit">Register</button>
        </form>
        <p class="login-link">Already have an account? <a href="/login">Login</a></p>
    </div>
</div>
<%- include('footer.ejs') %>
</body>

</html>